.cls-1 {
    fill: #4d5e31;
}

.cls-2 {
    fill: url(#Nueva_muestra_de_degradado_9-2);
}

.cls-3 {
    fill: #425527;
}

.cls-4 {
    fill: #2b391e;
}

.cls-5 {
    fill: #25311c;
}

.cls-6 {
    fill: #2b3b1e;
}

.cls-7 {
    fill: #37471f;
}

.cls-8 {
    fill: #1f291a;
}

.cls-9 {
    fill: #495c2e;
}

.cls-10 {
    fill: url(#Nueva_muestra_de_degradado_9-8);
}

.cls-11 {
    fill: #27351c;
}

.cls-12 {
    fill: #2a371d;
}

.cls-13 {
    fill: #212d1c;
}

.cls-14 {
    fill: #3c4c22;
}

.cls-15 {
    fill: url(#Nueva_muestra_de_degradado_9);
}

.cls-16 {
    fill: #4d5f31;
}

.cls-17 {
    fill: #48592d;
}

.cls-18 {
    fill: #526333;
}

.cls-19 {
    fill: #fff;
}

.cls-20 {
    fill: #3a4a21;
}

.cls-21 {
    fill: #586b3b;
}

.cls-22 {
    fill: #314020;
}

.cls-23 {
    fill: #4b5c2f;
}

.cls-24 {
    fill: #576a3c;
}

.cls-25 {
    fill: #415226;
}

.cls-26 {
    fill: none;
}

.cls-27 {
    fill: url(#Nueva_muestra_de_degradado_9-13);
}

.cls-28 {
    fill: #27331c;
}

.cls-29 {
    fill: #546738;
}

.cls-30 {
    fill: #3d4e24;
}

.cls-31 {
    fill: #1f2a1a;
}

.cls-32 {
    fill: url(#Nueva_muestra_de_degradado_9-7);
}

.cls-33 {
    fill: #2f3e1e;
}

.cls-34 {
    fill: #404f24;
}

.cls-35 {
    fill: url(#Nueva_muestra_de_degradado_9-17);
}

.cls-36 {
    fill: #46572a;
}

.cls-37 {
    fill: #31401f;
}

.cls-38 {
    fill: #2b381e;
}

.cls-39 {
    fill: #546838;
}

.cls-40 {
    fill: url(#Nueva_muestra_de_degradado_9-3);
}

.cls-41 {
    fill: #3a4b22;
}

.cls-42 {
    fill: #344220;
}

.cls-43 {
    fill: #25321c;
}

.cls-44 {
    fill: url(#Nueva_muestra_de_degradado_9-4);
}

.cls-45 {
    fill: #2f3e1f;
}

.cls-46 {
    fill: url(#Nueva_muestra_de_degradado_9-16);
}

.cls-47 {
    fill: #576838;
}

.cls-48 {
    fill: #232f1b;
}

.cls-49 {
    fill: #344320;
}

.cls-50 {
    fill: url(#Nueva_muestra_de_degradado_9-9);
}

.cls-51 {
    fill: url(#Nueva_muestra_de_degradado_9-12);
}

.cls-52 {
    fill: #556839;
}

.cls-53 {
    fill: #354420;
}

.cls-54 {
    fill: #445629;
}

.cls-55 {
    fill: url(#Nueva_muestra_de_degradado_9-15);
}

.cls-56 {
    fill: #596b3b;
}

.cls-57 {
    fill: #2c3a1f;
}

.cls-58 {
    fill: #47592d;
}

.cls-59 {
    fill: #46582c;
}

.cls-60 {
    fill: #4c5e30;
}

.cls-61 {
    fill: url(#Nueva_muestra_de_degradado_9-14);
}

.cls-62 {
    fill: url(#Nueva_muestra_de_degradado_9-11);
}

.cls-63 {
    fill: #354520;
}

.cls-64 {
    fill: #485b2d;
}

.cls-65 {
    fill: #4e6033;
}

.cls-66 {
    fill: #222e1b;
}

.cls-67 {
    fill: #3d4d23;
}

.cls-68 {
    fill: #2e3c1e;
}

.cls-69 {
    fill: url(#Nueva_muestra_de_degradado_9-6);
}

.cls-70 {
    fill: url(#Nueva_muestra_de_degradado_9-10);
}

.cls-71 {
    fill: #384921;
}

.cls-72 {
    fill: #586a3b;
}

.cls-73 {
    fill: url(#Nueva_muestra_de_degradado_9-5);
}

.cls-74 {
    fill: #4f6033;
}

.cls-75 {
    fill: #536536;
}

.cls-76 {
    clip-path: url(#clippath);
}

.cls-77 {
    fill: #506235;
}

.cls-78 {
    fill: #3c1f0f;
}

.cls-79 {
    fill: #02572c;
}

.cls-80 {
    fill: #415225;
}

.cls-81 {
    fill: #526334;
}