.cls-1 {
     fill: #4d5e31;
 }

 .cls-2 {
     fill: url(#Nueva_muestra_de_degradado_9-2);
 }

 .cls-3 {
     fill: #425527;
 }

 .cls-4 {
     fill: #2b391e;
 }

 .cls-5 {
     fill: #25311c;
 }

 .cls-6 {
     fill: #2b3b1e;
 }

 .cls-7 {
     fill: #37471f;
 }

 .cls-8 {
     fill: #1f291a;
 }

 .cls-9 {
     fill: #495c2e;
 }

 .cls-10 {
     fill: url(#Nueva_muestra_de_degradado_9-8);
 }

 .cls-11 {
     fill: #27351c;
 }

 .cls-12 {
     fill: #2a371d;
 }

 .cls-13 {
     fill: #212d1c;
 }

 .cls-14 {
     fill: #3c4c22;
 }

 .cls-15 {
     fill: url(#Nueva_muestra_de_degradado_9);
 }

 .cls-16 {
     fill: #4d5f31;
 }

 .cls-17 {
     fill: #48592d;
 }

 .cls-18 {
     fill: #526333;
 }

 .cls-19 {
     fill: #3a4a21;
 }

 .cls-20 {
     fill: #586b3b;
 }

 .cls-21 {
     fill: #314020;
 }

 .cls-22 {
     fill: #4b5c2f;
 }

 .cls-23 {
     fill: #576a3c;
 }

 .cls-24 {
     fill: #415226;
 }

 .cls-25 {
     fill: none;
 }

 .cls-26 {
     fill: url(#Nueva_muestra_de_degradado_9-13);
 }

 .cls-27 {
     fill: #27331c;
 }

 .cls-28 {
     fill: #546738;
 }

 .cls-29 {
     fill: #3d4e24;
 }

 .cls-30 {
     fill: #1f2a1a;
 }

 .cls-31 {
     fill: url(#Nueva_muestra_de_degradado_9-7);
 }

 .cls-32 {
     fill: #2f3e1e;
 }

 .cls-33 {
     fill: #404f24;
 }

 .cls-34 {
     fill: url(#Nueva_muestra_de_degradado_9-17);
 }

 .cls-35 {
     fill: #46572a;
 }

 .cls-36 {
     fill: #31401f;
 }

 .cls-37 {
     fill: #2b381e;
 }

 .cls-38 {
     fill: #546838;
 }

 .cls-39 {
     fill: url(#Nueva_muestra_de_degradado_9-3);
 }

 .cls-40 {
     fill: #3a4b22;
 }

 .cls-41 {
     fill: #344220;
 }

 .cls-42 {
     fill: #25321c;
 }

 .cls-43 {
     fill: url(#Nueva_muestra_de_degradado_9-4);
 }

 .cls-44 {
     fill: #2f3e1f;
 }

 .cls-45 {
     fill: url(#Nueva_muestra_de_degradado_9-16);
 }

 .cls-46 {
     fill: #576838;
 }

 .cls-47 {
     fill: #232f1b;
 }

 .cls-48 {
     fill: #344320;
 }

 .cls-49 {
     fill: url(#Nueva_muestra_de_degradado_9-9);
 }

 .cls-50 {
     fill: url(#Nueva_muestra_de_degradado_9-12);
 }

 .cls-51 {
     fill: #556839;
 }

 .cls-52 {
     fill: #354420;
 }

 .cls-53 {
     fill: #445629;
 }

 .cls-54 {
     fill: url(#Nueva_muestra_de_degradado_9-15);
 }

 .cls-55 {
     fill: #596b3b;
 }

 .cls-56 {
     fill: #2c3a1f;
 }

 .cls-57 {
     fill: #47592d;
 }

 .cls-58 {
     fill: #46582c;
 }

 .cls-59 {
     fill: #4c5e30;
 }

 .cls-60 {
     fill: url(#Nueva_muestra_de_degradado_9-14);
 }

 .cls-61 {
     fill: url(#Nueva_muestra_de_degradado_9-11);
 }

 .cls-62 {
     fill: #354520;
 }

 .cls-63 {
     fill: #485b2d;
 }

 .cls-64 {
     fill: #4e6033;
 }

 .cls-65 {
     fill: #222e1b;
 }

 .cls-66 {
     fill: #3d4d23;
 }

 .cls-67 {
     fill: #2e3c1e;
 }

 .cls-68 {
     fill: url(#Nueva_muestra_de_degradado_9-6);
 }

 .cls-69 {
     fill: url(#Nueva_muestra_de_degradado_9-10);
 }

 .cls-70 {
     fill: #384921;
 }

 .cls-71 {
     fill: #586a3b;
 }

 .cls-72 {
     fill: url(#Nueva_muestra_de_degradado_9-5);
 }

 .cls-73 {
     fill: #4f6033;
 }

 .cls-74 {
     fill: #536536;
 }

 .cls-75 {
     clip-path: url(#clippath);
 }

 .cls-76 {
     fill: #506235;
 }

 .cls-77 {
     fill: #3c1f0f;
 }

 .cls-78 {
     fill: #02572c;
 }

 .cls-79 {
     fill: #415225;
 }

 .cls-80 {
     fill: #526334;
 }
